@model IEnumerable<ECommerceProject.Models.Cat>
@{
    ViewBag.Title = "ShowIndex";
}

<h1>Categories (@Model.Count())</h1>

@Html.ActionLink("Add New Category","Create","Cats", new {@class= "btn btn-primary", style = "text-align-last" })
<table class="table table-hover">
    <thead>
        <tr>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(category.Name, "Browse", new { category = category.Name })
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

