
@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>
@Html.ActionLink("Add New Category", "Create", "Cats") 
<br/>
@Html.ActionLink("Browse Categories", "ShowIndex", "Cats")
<br />
@Html.ActionLink("Products", "Index", "Products")